@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {

  margin: 0;
  font-family: "Roboto","Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}
code {
  font-family: "Times New Roman", Times, serif;
}

